apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "{{ .Values.env.name }}-webhook"
spec:
  egress:
  - {}
  ingress:
  - ports:
    - port: {{ .Values.webhook_port }}
      protocol: TCP
    - port: {{ .Values.metrics_port }}
      protocol: TCP
  podSelector:
    matchLabels:
      app: operator-webhook
  policyTypes:
  - Ingress
  - Egress