kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ .Values.env.name }}-webhook"
subjects:
- kind: ServiceAccount
  name: "{{ .Values.env.name }}-webhook"
  namespace: {{ .Values.env.namespace.platform }}
roleRef:
  kind: Role
  name: "{{ .Values.env.name }}-webhook"
  apiGroup: rbac.authorization.k8s.io
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ .Values.env.name }}-webhook-compute"
  namespace: {{ .Values.env.namespace.compute }}
subjects:
- kind: ServiceAccount
  name: "{{ .Values.env.name }}-webhook"
  namespace: {{ .Values.env.namespace.platform }}
roleRef:
  kind: Role
  name: "{{ .Values.env.name }}-webhook-compute"
  apiGroup: rbac.authorization.k8s.io