image:
  repository: quay.io/domino
  serverContainer: irsa
  clientContainer: irsa-client
  serverAppVersion: v1.7.0-release
  clientAppVersion: v1.7.0-release
  pullPolicy: Always
env:
  name: irsa
  service: irsa-svc
  eks_aws_account: # The AWS account number for the AWS account where EKS is deployed.
  assets_aws_account: # The AWS account number that holds the assets to be accessed.
  eks_service_role_name: # The IAM role name within the EKS account to be used by the IRSA service.
  oidc_provider: # This is in the form of oidc.eks.<AWS_REGION>.amazonaws.com/id/<ID>: 
                 # to retrieve, run aws eks describe-cluster --name <CLUSTER_NAME> | jq -r '.cluster.identity.oidc.issuer' | sed s/https\:\\/\\///g
  oidc_provider_audience: sts.amazonaws.com
  aws_default_region: # This is the region that EKS is deployed to. Defaults to the value of "aws_region".
  aws_region:  # This is the region that EKS is deployed to.
  aws_sts_regional_endpoints: regional
  govcloud: false
  namespace:
    platform: domino-platform
    compute: domino-compute
    field: domino-field
istio:
  enabled: false
irsa_client_sidecar:
  enabled: true
certmanager:
  duration: "4320h"
  renewBefore: "360h"